.column {
    float: left;
    padding-bottom: 10px;
}

.left {
    margin-left: 10px;
    width: 25%;
}

.right {
    margin-top: 5px;
    width: 75%;
}

a.category-main {
    margin-top: 100px;
    position: relative;
    font-family: "Courier New", serif;
    font-weight: bold;
}

.category {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Courier New", serif;
    font-weight: bold;
}


.description {
    font-family: "Times New Roman", serif;
}

.margin{
    margin-top: 5px;
}

.someclass {
    position: fixed;
    bottom: 5%;
    left: 30%;
    width: 30%;
    height: 15%;
}
