.column {
    float: left;
    padding-bottom: 10px;
}

.left {
    margin-left: 10px;
    width: 25%;
}

.right {
    width: 75%;
}

p.category {
    font-family: "Courier New", serif;
    font-weight: bold;
}

p.description {
    font-family: "Times New Roman", serif;
}

.colarable {
    background-color: #7eea12;
}

.someclass{
    position: fixed;
    bottom: 10%;
    left: 30%;
    width: 40%;
    height: 20%;
}
