<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <a class="nav-link active" aria-current="page" href="{{ path('wish_map') }}">WISH MAP</a>
    </div>
    <div class="collapse navbar-collapse">
        <a class="nav-link active" aria-current="page" href="{{ path('wish_map_all') }}">Find all wish map cards</a>
        <a class="nav-link active" aria-current="page" href="{{ path('wish_map') }}">Back to home</a>
    </div>
    <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Logout</a>

</nav>